.footclan {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: navy;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.foot {
  width: 25px;
  height: 25px;
  background-color: navy;
  margin: 8px;
  
}

.flink {
  background-color: navy;
  margin: 0px;
  padding: 0px;
}

