footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color:  #493829;
  color: white;
  text-align: center;
}

.foot {
  width: 30px;
  height: 30px;
  background-color:  #493829;
  margin: 8px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 10px;
}

.foot:hover {
  background-color: #c4a389;
}

.flink {
  background-color:  #493829;
  margin: 0px;
  padding: 0px;
}

