@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display%27');


#headclan{
    display:flex;
    justify-content: space-around;
    border: 3px solid  #493829;
    align-items: center;
    background-color: #493829;
    border-radius:10px;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
    position:sticky;
}

#cart{
    width: 45px;
    height: 45px;
    background-color: #493829;
    color:aqua;

}

#shop{
    width: 45px;
    height: 45px;
    color:aqua;
    background-color: #493829;

    
}

#menu{
    height:45px;
    width: 45px;
    background-color: #493829;
    border:0;
    padding:0;
    margin:0;
    color:aqua;
    
}

#menuButton{
    padding:0;
    border-radius:10px;
}

#login{
    padding:5px;
    border:1px solid white;
    border-radius: 5px;
    margin-top:20px;
    background-color:white;
    margin-bottom:25px;
    color:aqua;
    background-color: #493829;
    
    
}

#title{
    text-decoration: none;
    border: 2px solid white;
    padding-left: 75px;
    padding-right: 75px;
    font-family:'Sedgwick Ave Display';
    border-radius:10px;
    color:aqua;
    margin:0;

}

h1{
    margin:0;
}